.maingrid {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media screen and (max-width: 1350px) {
  .maingrid {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 900px) {
  .maingrid {
    grid-template-columns: auto;
  }
}

.sizePicture {
  max-width: 400px;
}